h1 {
    color: red;
}


.sondages {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
}

.titre {
    font-size: 1.7em;
    font-family: "Candal", Arial;
	text-align: center;
}

.centre h3, .numero h2 {
    font-family: "Candal", Arial;
	text-align: center;
	font-size: 1.2em;
    padding-top: 10px;
    padding-bottom: 10px;
}

.centre a {
    margin: 25px;
    border: 3px dashed rgb(251, 135, 135);
    border-radius: 10px;
    text-align: center;  
    width: 30%;   
    text-decoration: none;     
    color: black;
    background-color: rgba(220, 220, 220, 0.585);
}

img {
    width: 90%;
}