h1 {
    color: red;
}


.h2 {
    margin-top: -25px;
	color: #e2e5e6;
	font-family: "Candal";
    font-size: 1.4em;
    text-align: center;

}

.calssutili {
    width: 90%;
    padding: 16px 20px;
    margin-top: 10px;
    margin-left: 5%;
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-between;
}

.titre {
    font-size: 1.7em;
    font-family: "Candal", Arial;
	text-align: center;
}

.rechercher {
    top: 35px;
    margin-top: 0px;
    margin-left: 1%;
}