h1{
    text-align: center;
}

.sondage{
    display: block;
    text-align: center;
    bottom: 1em;
    padding: 1em;
    font-size: 1em;
}

.sondage .radio{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sondage .radio label{
    margin-left: 0.5em;
}

.sondage .radio p{
    margin-left: 2em;
}